<div class="jumbotron">
  <h1 class="display-3">Hello, guys! Kitty lovers??</h1>
  <p class="lead">This site was made for you... Here, you will be able to have kitty's pics or the best of all, a cat, of any breed you like.</p>
  <hr class="my-4">
  <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="<%= product_path %>" role="button">Go shopping</a>
  </p>
</div>
